<!-- app.component.html -->
<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <app-dados-user></app-dados-user>

      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item button routerLink="/home-users" routerDirection="root" detail="false">
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item button routerLink="/children" routerDirection="root" detail="false">
            <ion-label>children</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>