<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button color="primary" (click)="openModal()" aria-label="Cadastrar criança">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Nova criança</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <form (ngSubmit)="save()" class="ion-margin-top">
        <ion-item lines="none" class="ion-margin-bottom">
          <ion-input
          class="input-custom"
            label="Nome"
            labelPlacement="floating"
            fill="outline"
            name="nome"
            [(ngModel)]="child.nome"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-bottom">
          <ion-input
          class="input-custom"
            label="Data de nascimento"
            labelPlacement="floating"
            fill="outline"
            type="date"
            name="data_de_nascimento"
            [(ngModel)]="child.data_de_nascimento"
            required
          ></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-bottom">
          <ion-input
          class="input-custom"
            label="CPF"
            labelPlacement="floating"
            fill="outline"
            type="number"
            name="cpf"
            [(ngModel)]="child.cpf"
          ></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-bottom">
          <ion-input
          class="input-custom"
            label="Nome do responsável"
            labelPlacement="floating"
            fill="outline"
            name="nome_responsavel"
            [(ngModel)]="child.nome_responsavel"
          ></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-bottom">
          <ion-input
          class="input-custom"
            label="CPF do responsável"
            labelPlacement="floating"
            fill="outline"
            type="number"
            name="cpf_responsavel"
            [(ngModel)]="child.cpf_responsavel"
          ></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-bottom">
          <ion-input
          class="input-custom"
            label="Cartão de saúde"
            labelPlacement="floating"
            fill="outline"
            type="number"
            name="cartao_saude"
            [(ngModel)]="child.cartao_saude"
          ></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-bottom">
          <ion-select
          class="input-custom"
            label="Sexo"
            labelPlacement="Stacked label"
            fill="outline"
            name="sexo"
            [(ngModel)]="child.sexo"
            placeholder="Selecione"
          >
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Feminino">Feminino</ion-select-option>
            <ion-select-option value="Outro">Outro</ion-select-option>
          </ion-select>
        </ion-item>

        <div class="ion-padding-top">
          <ion-button expand="block" shape="round" type="submit" [disabled]="saving || !child.nome.trim()">
            <ion-icon name="save-outline" slot="start"></ion-icon>
            {{ saving ? 'Salvando...' : 'Salvar Cadastro' }}
          </ion-button>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
